{% extends 'base.html.twig' %}

{% block title %}Recette{% endblock %}

{% block body %}
<body style="background:linear-gradient(rgba(47, 23, 15, 0.65), rgba(47, 23, 15, 0.65)), url({{asset('img/bg.jpg')}})">
    <section class="page-section">
        <div class="container">
            <div class="product-item">
                <div class="d-flex product-item-title">
                    <div class="d-flex me-auto bg-faded p-5 rounded">
                        <h2 class="section-heading mb-0"><span class="section-heading-upper">Chaleur d'automne</span><span class="section-heading-lower">Pasta linguini</span></h2>
                    </div>
                </div><img class="img-fluid d-flex mx-auto product-item-img mb-3 mb-lg-0 rounded" src="public/img/products-01.jpg">
                <div class="bg-faded p-5 rounded">
                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In porta justo velit, sit amet maximus leo mattis vitae. Morbi turpis neque, consequat eu ornare ultrices, sodales in felis. Suspendisse in ultrices dolor. Integer eget neque eget justo dapibus posuere. Sed pellentesque mauris elementum pellentesque semper. Aenean sapien elit, porta sit amet consequat sit amet, pretium a libero. Nulla ornare quam sed turpis cursus, at congue metus luctus.<br><br>&nbsp;&nbsp;</p>
                </div>
            </div>
        </div>
    </section>
    <section class="page-section">
        <div class="container">
            <div class="product-item">
                <div class="d-flex product-item-title">
                    <div class="d-flex ms-auto bg-faded p-5 rounded">
                        <h2 class="section-heading mb-0"><span class="section-heading-upper">délice d'hiver</span><span class="section-heading-lower">raclette au morbier</span></h2>
                    </div>
                </div><img class="img-fluid d-flex mx-auto product-item-img mb-3 mb-lg-0 rounded" src="public/img/products-02.jpg">
                <div class="bg-faded p-5 rounded">
                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In porta justo velit, sit amet maximus leo mattis vitae. Morbi turpis neque, consequat eu ornare ultrices, sodales in felis. Suspendisse in ultrices dolor.&nbsp;Integer eget neque eget justo dapibus posuere. Sed pellentesque mauris&nbsp;elementum pellentesque semper. Aenean sapien elit, porta sit amet&nbsp;consequat sit amet, pretium a libero. Nulla ornare quam sed turpis&nbsp;cursus, at congue metus luctus</p>
                </div>
            </div>
        </div>
    </section>
    <section class="page-section">
        <div class="container">
            <div class="product-item">
                <div class="d-flex product-item-title">
                    <div class="d-flex mx-auto bg-faded p-5 rounded">
                        <h2 class="section-heading mb-0"><span class="section-heading-upper">autour de l'asie</span><span class="section-heading-lower">nems sauce aigre douce</span></h2>
                    </div>
                </div><img class="img-fluid d-flex mx-auto product-item-img mb-3 mb-lg-0 rounded" src="public/img/products-03.jpg">
                <div class="bg-faded p-5 rounded">
                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In porta justo velit, sit amet maximus leo mattis vitae. Morbi turpis neque, consequat eu ornare ultrices, sodales in felis. Suspendisse in ultrices dolor.&nbsp;Integer eget neque eget justo dapibus posuere. Sed pellentesque mauris&nbsp;elementum pellentesque semper. Aenean sapien elit, porta sit amet&nbsp;consequat sit amet, pretium a libero. Nulla ornare quam sed turpis&nbsp;cursus, at congue metus luctus</p>
                </div>
            </div>
        </div>
    </section>
</body>
{% endblock %}
